<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="activeTab='items', title='복덕복덕 : 비밀번호찾기'">

<head>
    <script th:inline="javascript">
        $(document).ready(function (){

            $('#pageChange').click(function (){
                $('#before').css("display","table");
                $('#after').css("display","none");
            });


            $('#searchPass').click(function (){
                let username = $('#username').val();

                if (username == ''){
                    alert("아이디를 입력하세요");
                    return false;
               }
                $.ajax({
                    type:'post',
                    url:'/password',
                    dataType:'json',
                    data: {
                        "username" :  username
                    },
                    success: function (result){
                        if (result.result == "ok"){
                            $('#before').css("display","none");
                            $('#after').css("display","table");
                            $('#passwordText').text("임시비밀번호가 가입 이메일로 발송 하였습니다.");


                        }else if (result.result="none"){
                            $('#before').css("display","none");
                            $('#after').css("display","table");
                            $('#passwordText').text("없는 아이디 입니다.");
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <main>
            <form class="justify-content-center">

                <div class="container"  style="height: 700px; display: table;" th:id="before">
                    <div style="display: table-cell; vertical-align: middle;">

                        <div class="py-5 text-center" style="text-align: center">
                            <h2>임시 비밀번호 메일 전송</h2>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-20">
                                <label class="form-label"> 가입시 작성했던 이메일을 입력해주세요</label><br>
                                <input type="email" class="form-control" name="username" id="username"
                                       style="text-align: center">
                            </div>
                        </div>


                        <div class="row justify-content-center py-3">
                            <button type="button" class="btn btn-info" th:id="searchPass">찾기</button>
                        </div>


                    </div>
                </div>

                <div class="container" style="height: 700px; display: none;" th:id="after">
                    <div style="display: table-cell; vertical-align: middle;">

                        <div class="py-5 text-center" style="text-align: center">
                            <h2>임시 비밀번호 메일 전송</h2>
                        </div>

                        <div class="row justify-content-center">
                            <p th:text="ㅋㅋ" th:id="passwordText"></p>
                        </div>

                        <hr class="col-12 my-4">
                        <div class="row justify-content-center py-3">
                            <a class="btn btn-info" th:type="button" th:id="pageChange">이전</a>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-info" th:href="@{/login}">로그인</a>
                        </div>

                    </div>
                </div>


            </form>

        </main>
    </div>
</div>

</body>
</html>